.container {

    display: flex;
    flex-wrap: wrap;
    gap: 50px;
    padding: 20px;

}

.characterCard {
    width: 250px;
    border: 1px solid #ddd;
    border-radius: 10px;
    overflow: hidden;
    padding: 15px;
    text-align: center;
    background-color: #fff;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.2s;
}

.characterCard img {
    width: 100%;
    border-radius: 8px;
}

.pagination {
    display: flex;
    justify-content: center;
    margin: 20px 0;
    gap: 20px;
}

button {
    margin-top: 10px;
    padding: 10px 15px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.2s ease;
}

.searcher {

    padding: 20px;


}

input {
    width: 250px;
    height: 28px;
    margin-right: 10px;
    border: none;
    background-color: rgb(240, 229, 229);
}